body {
    margin: 0;
    padding: 0;
}

.top-bar {
    height: 5vh;
    background-color: rgb(161, 161, 161);
}

.top-bar * {
    
}

.left-column {
    float: left;
    width: 60%;
}

.graph-display {
    height: 80vh;
    background-color: crimson;
}

.graph-settings {
    height: 15vh;
    background-color: darkslategray;
}

.text-area {
    height: 95vh;
    float: right;
    width: 40%;
}

.code-input {
    width: 100%;
    height: 100%;
    resize: none;
    box-sizing: border-box;
    font-family: Segoe UI;
    font-size: 16pt;
    font-weight: 400;
    background-color: rgb(207, 207, 207);
}